<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="cn.tsthuah.zuanqianbaay">
  <!-- 进行网络访问和网络状态监控相关的权限声明 -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <!-- 网络库使用，当网络操作时需要确保事务完成不被杀掉 -->
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <application
    android:allowBackup="true"
    android:icon="@mipmap/logo7"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".LoadingActvity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".MainActivity"/>
    <activity android:name=".InfoDetailActvity"/>
    <activity android:name=".ToWebActivity"/>
  </application>

</manifest>